
/* START DEFAULT BODY DEFS */

@font-face {
    font-family: 'Source Sans';
    src: url("../fonts/source sans.ttf");
}

@font-face {
	font-family: 'Roboto Mono';
	src: url("../fonts/roboto mono.ttf");
}

body {
	margin: 0;
	font-family: 'Source Sans', Verdana, sans-serif;
}

/* END DEFAULT BODY DEFS */

/* START BACKGROUND IMAGE */

.cover-image:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
  background: url('../graphics/chicago-uic-small-2.png') no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.cover-image {
	background-image: url('../graphics/chicago-uic-small-2.png');
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

.overlay {
	background-color: rgba(40, 150, 160, 0.7);
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
    display: table;
}

/* END BACKGROUND IMAGE */

/* START NAME TAG */

header #name-tag {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	text-align: center;
    display: table-cell;
    vertical-align: middle;
	color: white;
}

header .title {
	font-size: 64px;
	line-height: 1;
	margin: 0;
}

header .subtitle {
	width: 50%;
	margin: 0 auto;
	font-size: 22px;
}

/* END NAME TAG */

/* START LOGO */

#corner-logo {
    height: 200px;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* END LOGO */

/* START DIV SHAPE DEFS */

.h-line {
	margin: 10px auto;
	border: 1px solid white;
	width: 60%;
}

/* END DIV SHAPE DEFS */

/* START NAVIGATION BAR */

#menu {
	margin: 0;
	padding: 0;
	background: #555;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid red;
}

#menu #icon {
	background-image: url("../graphics/name icon.png");
	background-size: contain;
	background-repeat: no-repeat;
    height: 30px;
    width: 42px;
	margin: 15px;
	float: left;
}

#menu-items {
	padding-right: 5%;
	float: right;
}

#menu li {
	margin: 0;
    height: 60px;
	display: table;
	float: left;
	text-align: center;
}

#menu a:not(#icon) {
	text-decoration: none;
	color: white;
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 20px;

    -webkit-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}

#menu a:hover:not(#icon) {
	background: #BBB;
	color: black;

    -webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.drop-box {
	float: left;
	overflow: hidden;
	height: 100%;
}

.drop-content {
	display: none;
	position: absolute;
	min-width: 150px;
	padding-top: 5px;
    top: 60px;
	background: #777;
	border-left: 2px solid red;
}

.drop-content a {
	display: block !important;
	line-height: 2;
}

/* END NAVIGATION BAR */

/* START BIO P MARGINS */

#bio-block p:not(:first-child) {
    margin: 15px 0;
}

/* END BIO P MARGINS */

/* START GENERAL CONTENT */

.content-block.color1 { background: #F8F8F8; }
.content-block.color2 { background: #CCF; }
.content-block.color3 { background: #CED; }

.content-block {
    border-radius: 20px;
    margin: 10px 20px;
}

.content-section {
    text-align: center;
    padding: 40px 0;
    display: block;
    width: 100%;
}

.content-section p {
    line-height: 1.4;
    margin: 0;
}

.content-section li {
    line-height: 1.4;
}

.content-section ul {
    margin: 5px 0;
    list-style-type: square;
}

.content-box-title h3 {
    font-family: 'Roboto Mono', monospace;
	font-size: 48px;
	text-align: center;
    margin: 0;
	color: rgb(40,150,160);
}

.content-box-subtitle h3 {
    font-family: 'Roboto Mono', monospace;
	font-size: 24px;
	text-align: center;
    margin: 15px 0;
	color: #555;
}

.content-box-group {
    display: block;
    margin: 30px 10px 0 10px;
    text-align: center;
}

.content-column-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    height: 100%;
}

.content-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    -ms-flex-pack: distribute;
    justify-content: space-around;

    margin: 0 10px;
}

.content-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-box {
    min-width: 50px;
    max-width: 650px;
    text-align: justify;
    padding: 10px 20px;
}

.contact-container {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;

    padding-left: 40px;
}

.content-block a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

.content-block a:hover {
	text-decoration: underline;
}

.vert-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nobr {
    white-space: nowrap;
}

/* END GENERAL CONTENT */

/* START STAR NOTATION */

.skill-box {
    text-align: right;
}

.star {
    border: 2px solid gray;
    border-radius: 25%;
    width: 6px;
    height: 6px;
    display: inline-block;
    margin: 0 1px;
}

.star.fill {
    background: #FF4;
}

.skill-box:not(.skill-text) > *:nth-child(2) {
    margin-left: 20px;
}

.skill-box p {
    display: inline-block;
}

.skill-text {
    text-align: left;
    max-width: 400px;
}

.skill-text p:first-child {
    font-weight: bold;
}

.skill-box {
    width: 100%;
}

/* END STAR NOTATION */

/* START TABLE DEFS */

.left-small-card {
    text-align: center;
    width: 250px;
}

.left-small-card > *:first-child {
    font-weight: bold;
}

.left-small-card > *:last-child {
    font-style: italic;
}

.right-large-card {
    min-width: 300px;
}

.right-large-card.stretch-box {
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}


.left-large-card {
    text-align: left;

    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

.right-media-card > * {
    width: 200px;
    height: auto;
}

/* END TABLE DEFS */

/* START GRAPHICS */

#portrait {
    width: 300px;
    height: 300px;
}

.link-logo {
    height: auto;
    width: 25px;
    margin: 0 10px 0 0;
    display: inline-block;
}

.link-logo ~ p, .link-logo ~ a {
    display: inline;
}

/* END GRAPHICS */
